<div class="container">
    <div class="row">
        <div class="col s12">
            <label>GitHub <a href="https://github.com/ivanisayenko/practica">Ivan Isayenko</a></label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Tecnologies del projecte: </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                            alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Angular 6
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 offset-m2 l6 offset-l3 ">
            <div class="card-panel grey lighten-5 z-depth-1 ">
                <div class="row valign-wrapper ">
                    <div class="col s2">
                        <img src="https://devstickers.com/assets/img/pro/71fi.png" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Node JS
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5> Framework Visual:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 ">
            <div class="card-panel grey lighten-5 z-depth-1 ">
                <div class="row valign-wrapper ">
                    <div class="col s2">
                        <img src="http://res.cloudinary.com/colinstodd-com/image/upload/c_fit/n9qdpfw4kwsjqox0lymi.png" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Materializecss
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Bases de Dades: </h5>
        </div>
    </div>
    <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3 ">
                <div class="card-panel grey lighten-5 z-depth-1 ">
                    <div class="row valign-wrapper ">
                        <div class="col s2">
                            <img src="https://webassets.mongodb.com/_com_assets/cms/MongoDB-Logo-5c3a7405a85675366beb3a5ec4c032348c390b3f142f5e6dddf1d78e2df5cb5c.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <span class="black-text">
                                MongoDB
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>