/Java EE/PrimeraAplicacio/nbproject/private/
/Java EE/PrimeraAplicacio/build/
/Java EE/jpsProva/nbproject/private/
/Java EE/jpsProva/build/
/Java EE/javaBean/nbproject/private/
/Java EE/javaBean/build/
/Java EE/GestorBancJava/nbproject/private/
/Java EE/GestorBancJava/build/