/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-jun-2018, 17:02:09
    Author     : ivani
*/
body{
    background-color: #F4F2F2;
    width: 70%;
    padding-top: 20px;
    margin: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}
form{
    margin-top: 50px;
    text-align: center; 
}
input{
    padding: 10px;
    margin: 5px;
}
.boto{
    padding: 10px;
    border: 1px grey solid;
    border-radius: 3px 3px 3px 3px;
    list-style: none;
    text-decoration: none;
    background: snow;
    color: black;
}
.boto:hover{
    background: lightgrey;
}
.botons{
    /*    background: lightskyblue;*/
    padding: 15px;
    padding-bottom: 25px;
    /*border-radius: 3px 3px 3px 3px;*/
    border-bottom: 1px black solid;
}
img{
    margin: auto;
}
.codi{
    font-size: 10px;
}
.usuari{
    padding: 10px;
    border: 1px royalblue solid;
    width: 150px;
    height: 200px;
    background: lightblue;
    margin: 20px;
    float: left;
}
.usuari spam{
    text-transform: uppercase;
}
.usuari:hover{
/*    background: lightcyan;
    cursor: pointer;*/
}
.botoUsuari{
    margin: 10px;
    border: 1px solid royalblue;
    width: 23.3%;
    height: 150px;
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
    background: lightblue;
    color: ghostwhite;
    text-shadow: 1px 1px 5px black;
    float: left;
    box-shadow: 4px 4px 9px lightslategrey;
}
.botoUsuari:hover{
    cursor: pointer;
    box-shadow: 6px 6px 12px grey;
}
@media only screen and (max-width: 655px) {
    .botoUsuari{
        width: 95%;
    }
}
.TOMATO{
    background: tomato !important;
}
.PERU{
    background: peru !important;
}
.SALMON{
    background: salmon !important;
}
.GOLD{
    background: GOLD !important;
}
.moviments{
    margin: auto;
    text-align: center;
    width: 100%;
}
.ultimsMoviments{
    margin: auto;
    text-align: center;
    width: 100%;
    background: white;
    border: 1px black solid;
}
td{
    padding: 10px;
    border-bottom: 1px lightgray solid;
}
.descripcio{
    padding-right: 100px;
}
#dinersCompte{
    font-size: 30px;
}
#ingresarDiners{
    margin: 10px;
    /*border: 1px black solid;*/
    padding: 5px;
    margin-bottom: 70px;
}

