/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-jun-2018, 17:02:09
    Author     : ivani
*/
body{
    background-color: #F4F2F2;
    width: 70%;
    padding-top: 20px;
    margin: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}
form{
    margin-top: 50px;
    text-align: center; 
}
input{
    padding: 10px;
    margin: 5px;
}
.boto{
    padding: 10px;
    border: 1px grey solid;
    border-radius: 3px 3px 3px 3px;
    list-style: none;
    text-decoration: none;
    background: snow;
    color: black;
}
.boto:hover{
    background: lightgrey;
}
.botons{
/*    background: lightskyblue;*/
    padding: 15px;
    padding-bottom: 25px;
    /*border-radius: 3px 3px 3px 3px;*/
    border-bottom: 1px black solid;
}
img{
    margin: auto;
}

