.meusRepositoris{
    padding: 10px;
    list-style: none;
    /* background: gold; */
    /* border: 1px solid royalblue; */
    margin: 4px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    cursor: pointer;
}

.afegirNoptaNova{
    border: 1px solid #4db6ac ;
    padding: 5px;
    border-radius: 2px;
}

.tamanyFix{
    overflow: scroll;
    height: 70vh;
}