<div class="row">
  <div class="col s6">
    <h2 *ngIf="!cargado">Cargando ...</h2>
    <h3>Has seleccionat {{repositoriSeleccionat.name}}</h3>
    <form class="" (submit)="newRepo()">
      <input type="text" placeholder="Nom" name="name" [(ngModel)]="repositoriAfegir.name">
      <input type="text" placeholder="Descripció" name="description" [(ngModel)]="repositoriAfegir.description">
      <input *ngIf="repositoriAfegir.name !='' && repositoriAfegir.description!=''" type="submit" value="Afegir" class="btn">
    </form>
  </div>
  <div class="col s6">
    <ul>
      <li class="meusRepositoris" *ngFor="let repo of meuRepositri" (click)="repositoriSeleccionat = repo">
        <div class="card-panel teal lighten-2">
          <b>Nom: </b>{{repo.name}}
          <br>
          <b>Descripcció: </b>{{repo.description}}
        </div>

      </li>
    </ul>
  </div>
</div>