<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h3>
        {{ title }}
    </h3>
    <a routerLink="" class="btn">Inici</a>
    <a routerLink="redi" class="btn">Anar a routing</a>
    <a class="btn" (click)="mostrarAfegirNota = true">Afegir nova nota</a>
    <input type="text" placeholder="varibale per passar en routes" [(ngModel)]="variablePerParametre">
    <a *ngIf="variablePerParametre != ''" routerLink="redi/{{variablePerParametre}}" (click)="novaVariable()" class="btn">Anar
        a routing amb variable</a>
    <!-- <app-repositoris #RepositorisComponent></app-repositoris> -->
    <div id="afegirNotaNova" *ngIf="mostrarAfegirNota">
        <form class="" (submit)="afegirNovaNota()">
            <h5>Nova nota</h5>
            <input type="text" placeholder="Nom" name="name" [(ngModel)]="repositoriAfegir.name">
            <input type="text" placeholder="Descripció" name="description" [(ngModel)]="repositoriAfegir.description">
            <input *ngIf="repositoriAfegir.name !='' && repositoriAfegir.description!=''" type="submit" value="Afegir" class="btn">
        </form>
    </div>
    <router-outlet></router-outlet>
</div>