<div class="login card blue darken-3">
    <form class="card-content white-text">
        <span class="card-title">Resgistre</span>
        <input required [(ngModel)]="dadesUsuari.usuari" name="nom" type="text" placeholder="Nom"/>
        <input required [(ngModel)]="dadesUsuari.contrasenya" name="contrasenya" type="password" placeholder="Contrasenya">
        <input (click)="registrarUsuari()" class="waves-effect waves-light btn boton blue darken-1" type="button" value="Registrar">
        <div style="padding-bottom: 5px; padding-top: 5px"><a class="card-action" routerLink="/iniciar" routerLinkActive="active" >Iniciar Sessió</a></div>
    </form>
</div>